/* Estilos generales */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Header fijo */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    padding: 10px 20px;
    box-shadow: 0px 4px 2px -2px gray;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center; /* Cambiado a center para centrar el contenido */
    color: white;
}


/* Botón menú hamburguesa */
/*#menu-btn {
    font-size: 24px;
    background: #eeeeee;
    color: rgb(39, 39, 39);
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    position: absolute;
    left: 10px; 
}*/

/* Menú lateral */
#sidebar {
    position: fixed;
    top: 55px;
    left: 0px;
    width: 200px;
    height: 100%;
    background-color: #222;
    padding-top: 60px;
    transition: left 0.3s ease;
}

#sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#sidebar ul li {
    padding: 5px; /* Aumenta el padding para hacer el elemento más alto */
    text-align: center;
}

#sidebar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: block;
    padding: 10px 0; /* Aumenta el padding para hacer el enlace más alto */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Agrega un borde difuminado */

}

#sidebar ul li a:hover {
    background-image: linear-gradient(135deg, #1c1c1c, #999999);
    font-size: 20px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5); 
}

/* Clases para mostrar/ocultar el menú */
/*.sidebar-visible {
    left: 0 !important;
}*/

/* Ajuste del contenido para que no quede tapado */
main {
    margin-top: 80px;
    margin-left: 200px;
    padding: 20px;
}
